/* Divyanshu's minimal CSS */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", Roboto,
    Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  overflow-y: scroll;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png");
  background-repeat: repeat;
  margin: 0px;
  scrollbar-width: 10;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  margin-bottom: 100px;
}

table tr:nth-child(odd) {
  background-color: rgb(236, 244, 225);
}

#go {
  width: 100px;
  font-weight: bold;
}

.solved {
  background-color: rgb(186, 186, 233) !important;
}

.container {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin: 15px 0px 15px 0px;
}

td {
  padding: 5px 10px;
  border: 1px solid rgb(219, 219, 219);
}

.Easy {
  color: green;
}

.Medium {
  color: orange;
}

.Hard {
  color: red;
}

summary {
  cursor: pointer;
}

.float-right {
  float: right;
}

.problem-link,
.problem-link:visited {
  color: rgb(49, 44, 117) !important;
  text-decoration: none;
}

.focus {
  background-color: rgb(245, 233, 165) !important;
}

.form {
  background-color: rgba(238, 248, 238, 0.5);
  padding: 20px;
  border: 1px solid lightgray;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
}

.titlebar {
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 5px 20px;
  background-color: rgba(238, 248, 238, 0.1);
  border-radius: 4px;
  border: 1px solid lightgray;
  backdrop-filter: blur(10px);
  width: 300px;
}
